@{
    ViewBag.Title = "Incidencias";
}


<div class="row">
    <div class="col-xl-12 py-2">
        <table style="width:100%">
            <tr>
                <th>Id</th>
                <th>Timestamp</th>
                <th>Asunto</th>
                <th>Comentario</th>
                <th>Centro</th>
                <th>Aula</th>
                <th>Equipo</th>
                <th>Cerrar</th>
            </tr>
            @for (int i = 0; i < ViewBag.ListaIncidencias.Count; i++)
            {

                <tr>
                    <td id="Id-@i">@ViewBag.ListaIncidencias[i].IdIncidencia</td>
                    <td id="Timestamp-@i">@ViewBag.ListaIncidencias[i].Timestamp</td>
                    <td id="Asunto-@i">@ViewBag.ListaIncidencias[i].Asunto</td>
                    <td id="Comentario-@i">@ViewBag.ListaIncidencias[i].Comentario</td>
                    <td id="Centro-@i">@ViewBag.ListaIncidencias[i].CentroId</td>
                    <td id="Aula-@i">@ViewBag.ListaIncidencias[i].Aula</td>
                    <td id="Equipo-@i">@ViewBag.ListaIncidencias[i].Equipo</td>

                    <td>
                        @using (Html.BeginForm("Cerrar", "Home", new { area = "", idIncidencia = ViewBag.ListaIncidencias[i].IdIncidencia }, FormMethod.Post))
                        {
                            <button id="cerrar-@i" type="submit" class="btn btn-primary">Cerrar</button>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>